* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.container {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.textblock {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.danger {
    background-color: #FF3232;
    padding: 10px;
    border: 1px solid #990000;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.justify {
    text-align: justify;
}

h3 {
    text-align: left;
    margin-bottom: -18px;
}

.button {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    font-size: 15px;
    border: solid 1px #0A51A4;
    color: #0A51A4;
    transition: ease background-color .3s, ease color .3s;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.button:hover {
    background-color: #0A51A4;
    color: white;
    cursor: pointer;
}

.footer {
    text-align: left;
}

.ad {
    height: 600px;
    width: 300px;
    position: fixed;
    top: 10px;
}

.ad.left {
    left: 10px;
}

.ad.right {
    right: 10px;
}

.logo {
    width: 50%;
    height: auto;
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {
    .ad {
        display: none !important;
    }
}
  
